<div class="container" style="padding:3em">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="5">
            <b>Loans for Employee: <span style="float:right;text-align:right;font-size:x-small">ID: {{this.empId}}</span><span style="text-align:center"><i><h3>{{this.empName}}</h3></i></span></b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Current&nbsp;Active&nbsp;Loans:</th>
          <td>{{this.loans.length}}</td>
        </tr>
      </tbody>
    </table>
    <section *ngFor="let loan of this.loans">
        <div class="container" style="padding:2em;width:100%">
            <table class="loanTable table table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="5">Loan ID: {{this.loan.LoanID}}</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let keys of this.filterKeys(this.getKeys(loan))">
                <tr *ngIf="this.loan[keys] != null && this.loan[keys] != ''">
                  <th>{{ this.displayKey(keys) }}:</th>
                  <td style="width:100%">{{this.loan[keys]}}</td>
                </tr>
              </ng-container>
              <tr>
                <td style="text-align:center" colspan="2"><button [routerLink]="['/resolve-loan']" (click)="setLoanId(this.loan.LoanID)">Resolve Loan</button></td>
              </tr>
              </tbody>
            </table>
            </div>
     <!-- <app-loan-info-display [theLoan]="loan"></app-loan-info-display>-->
    </section>
  </div>
  
  