#nav{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    
}
a{
    margin-left: 50px;
    margin-top:50px;
    font-size: 25px;
    color: white;
}
#navlink{
  align-items:center;
}
.navmargin{
    margin-top: 35px;
}
#spaceneedle{
  height: 40px;
  width: 40px;
  margin: 10px;
}
